$main_color: black;
$hover_color: #f1f1f1;
$row_color: red;

body {
  font-family: Arial, sans-serif;
  color: #dddddd;
  font-size: 120%;
}


#container {
  max-width: 400px;
  width:80%;
  margin:0 auto;
}
#board {
  width:100%;
  // display: flex;
  // flex-wrap: wrap;

}

$line_width: 4px;

#board > div {
  box-sizing: border-box;
  float:left;
  width:33%;
  //flex-grow: 1;
  padding-bottom:33% - $line_width*66/400px;
  border: round(0.33*$line_width) solid $main_color;
  position: relative;
}
$thick_width: round(0.66*$line_width);
#board > .top-edge {border-top:none;border-bottom-width:$thick_width;}
#board > .left-edge {border-left:none;border-right-width:$thick_width;}
#board > .bottom-edge {border-bottom:none;border-top-width:$thick_width;}
#board > .right-edge {border-right:none;border-left-width:$thick_width;}

.o:after {
  content:"";
  position: absolute;
  top:0;bottom:0;left:0;right:0;
  margin: auto auto;
  width:40%;
  height:40%;
  border: 7px solid $main_color;
  border-radius: 100%;
}
.x:before, .x:after {
  content:"";
  position: absolute;
  top:0;bottom:0;left:0;right:0;
  margin: auto auto;
  width: 7px;
  height: 60%;
  background:$main_color;
  border-radius:3px;
  transform:rotate(45deg);
}
.x:after {
  transform:rotate(-45deg);
}

.o.empty:after {border-color: $hover_color;}
.x.empty:before, .x.empty:after {background: $hover_color;}

.o.three-in-a-row:after {border-color: $row_color;}
.x.three-in-a-row:before, .x.three-in-a-row:after {background: $row_color;}

#undo {
  float:right;
  display:none;
}
#undo.active {display:block;}

.control {
  cursor: pointer;
  display: inline-block;
  padding:5px 15px;
}
.control:hover, #message {color:gray;}
#top-controls {
  text-align: center;
  margin: 10px 0 30px;
}

.no-wrap {white-space: nowrap;}
